/* LAYOUT DA PÁGINA */
body {
    background-color: #FFFFFF; /*fundo branco*/
    color: #000000; /* letras pretas*/
    font-family: Arial, sans-serif; /*fonte*/
    margin: 0; /*espaço externo a um elemento*/
    padding: 0; /*espaço ao redor do conteúdo (ex.: ao redor do texto de um parágrafo)*/
}

.logotipo {
  text-align: center;
}

.logo {
    width: 700px; /* Define a largura desejada */
    height: auto; /* Mantém a proporção da imagem */
}

/* BARRA DE NAVEGAÇÃO */
.navbar-dark .navbar-nav .nav-link {
    color: #FFFFFF;
}

#atalhos, #irconteudo, #irmenu {
    font-size: 10px; /* Define o tamanho da fonte como 14 pixels */
}

a {
    color: #000000;
}

.visually-hidden { /* deixar o texto oculto, mas ainda acessível pra leitores de tela */
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}


/* TITULOS */

h1, h2, h3, p {
  margin: 20px;
}

h1, h2, h3 {
    color: #000000;
    text-align: center;
    font-weight: bold;
}

/* PÁGINA INICIAL */

.index h2 {
  border: 2px solid #333; /* Cor e espessura da borda */
  padding: 10px; /* Espaçamento interno para melhorar a aparência */
  background-color: #2E8B57; /* Cor de fundo para destacar o texto */
  font-size: 24px;
  box-shadow: 2px 2px 5px #888888; /* Sombreamento para efeito de destaque */
}

.index main {
  padding: 20px;
}

.index article {
  margin-bottom: 20px; /* Espaço entre os elementos h2 */
  text-align: justify;
}

.index article p {
  text-indent: 2em;
  font-size: 15px;
}

/* PRODUTOS E SERVIÇOS */

.carousel-container {
    width: 100%; /* ou uma largura específica em pixels ou porcentagem */
}

.carousel-item img {
  width: 900px; /* Largura desejada */
  height: 636px; /* Altura desejada */
  object-fit: contain; /* Manter proporção e cobrir o espaço */
}

.carousel-control-prev, .carousel-control-next {
    background-color: #333333; /* Cor de fundo */
    color: white; /* Cor do texto */
}

.carousel-indicators li {
    background-color: #A9A9A9; /* Cor de fundo */
}

.carousel-indicators .active {
    background-color: #696969; /* Cor de fundo */
}

/* EQUIPE */

.membro {
  display: flex; /*coloca as informações do lado da img */
  margin-bottom: 20px; /*coloca um espaço entre um e outro*/
  background-color: #D3D3D3; /*cor de fundo*/
  padding: 20px; /*espaçamento interno*/
  border: 1px solid #212529; /*borda*/
  border-radius: 5px; /*borda arredondada*/
  margin-bottom: 20px; /*espaçamento inferior*/
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /*caixa de sombra (desloc horizontal, desloc vertical, desfoque e cor da sombra(opacidade))*/
  font-family: Arial, sans-serif;
  color: #000000;
}

.membro img {
  margin-right: 20px; /* adiciona um espaço de 20px à direita da img */
}

.membro h3 {
  font-size: 19px;
  color: #000000;
  text-align: left;
}

.membro p {
  font-size: 15px;
  line-height: 1.5; /*altura da linha*/
  margin-bottom: 10px; /*espaçamento inferior do parágrafo*/
}


/* REDES SOCIAIS */

.main-redes-sociais{
  padding: 20px;
}

.redes-sociais {
  display: flex;
  gap: 20px;
}

.redes-sociais a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #333;
  transition: color 0.3s;
}

.redes-sociais a:hover {
  color: #007bff;
}

.redes-sociais img {
  margin-right: 10px;
}

/* CONTATO */

.small-font {
  font-size: 12px;
  font-style: italic;
}

.contato p {
  margin-bottom: 5px; /* Adiciona um pequeno espaço entre os parágrafos */
  font-size: 16px; /* Define o tamanho da fonte */
  line-height: 0.5; /* Define o espaçamento entre as linhas */
  color: #333; /* Define a cor do texto */
}

.mapa-google {
  font-size: 10px;
  color: #666;
  margin-bottom: 10px;

}

.localizacao-img {
  width: 600px;
  height: auto;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
}


.span-required{
    font-size: 12px;
    margin: 3px 0 0 1px;
    color: red;
    display: none;
}

.inputs{
    padding: 8px 5px;
    outline: none;
    width: 100%;
    box-sizing: border-box;
    transition: .3s;
}

.inputs:focus{
    border-color: green;
    border-width: 2px;
}

button[type="submit"]{
    padding: 5px 8px;
    font-size: 14px;
    background-color: #44474a;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"]:hover{
    background-color: #024d99; /* Muda a cor do botão quando está sobre ele */
}

/* RODAPÉ */

.footer-bar {
  background-color: #333; /* Cor de fundo da barra */
  height: 2px; /* Altura da barra */
  width: 100%; /* Largura total */
}

footer {
  text-align: center;
  font-size: 10px;
}